{
    "breadcrumbs.enabled": true,

    "debug.inlineValues": "on",
    "debug.openExplorerOnEnd": true,

    "editor.fontFamily": "JetBrains Mono",
    "editor.fontWeight": "500",
    "editor.fontSize": 12,
    "editor.fontLigatures": true,
    "editor.renderWhitespace": "boundary",
    "editor.rulers": [
        120
    ],

    "explorer.openEditors.visible": 0,

    "files.insertFinalNewline": true,
    "files.trimFinalNewlines": true,
    "files.trimTrailingWhitespace": true,

    "telemetry.telemetryLevel": "off",

    "window.title": "${activeEditorShort}${separator}${folderName}",

    "workbench.editor.enablePreview": false,

    "cSpell.userWords": [
        "amqp",
        "behaviour",
        "eventsourcerer",
        "kubernetes",
        "uuid"
    ],

    "gitlens.advanced.messages": {
        "suppressShowKeyBindingsNotice": true
    },
    "gitlens.currentLine.enabled": false,

    "[python]": {
        "editor.formatOnSave": true
    },

    "python.linting.pylintEnabled": false,
    "python.linting.flake8Enabled": true,
    "python.showStartPage": false
}
